html {
  background-color: hsl(0, 0%, 96%);
}

#navbar {
  position: fixed;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
}

#navbar a {
  display: block;
}

header {
  color: #000000;
}

section header {
  font-size: 30px;
  font-weight: bold;
}

#main-doc {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
}

footer {
  display: grid;
  place-content: center;
  position: absolute;
  bottom: 0;
  width: 99%;
  height: 50px;
  text-align: center;
}
